<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>yo this is mint</title>
	</head>
	<body>
		Welcome! <%= username %> you last logged in <%= lastlogin %>

		<br />
		<a href="/logout">Logout</a>
	</body>
</html>
